/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* loup de mer theme */
  --dark-blue: #163860;
  --blue: #23548f;
  --light-blue: #4f85c1;

  --light-brow: #fef9f0;
  --green: #8aa385;
  --red: #da5e33;
  --pink: #ed9f91;
  --yellow: #f5b548;


  /* default theme */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--dark-blue);
  --color-secondary: var(--light-brow);
  --color-tertiary: var(--blue);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

main::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(src/assets/js/webgl/textures/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.5;
	position: fixed;
	top: -100%;
	width: 300%;
	pointer-events: none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

@font-face {
  font-family: "frasha-regular";
  src: url("./fonts/frastha_regular-webfont.woff2") format("woff2"),
         url("./fonts/frastha_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "greatvibes-regular";
  src: url("./fonts/greatvibes-regular-webfont.woff2") format("woff2"),
         url("./fonts/greatvibes-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "leaguespartan";
  src: url("./fonts/leaguespartan-variablefont_wght-webfont.woff2") format("woff2"),
         url("./fonts/leaguespartan-variablefont_wght-webfont.woff") format("woff");
}


.color--primary{
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.nav.color--primary{
  background-color: transparent;
}
.color--primary .background--img{
  height: 100%;
  width: unset;
  color: var(--color-secondary);
}
.color--secondary{
  background: var(--color-secondary);
  color: var(--color-primary);
}
.color--primary .background--img{
  height: 100%;
  width: unset;
  color: white;
}
.background--primary svg{
  height: 100%;
  width: unset;
  color: var(--color-primary);
}
.background--secondary svg{
  height: 100%;
  width: unset;
  color: white;
}
.background--tertiary svg{
  height: 100%;
  width: unset;
  color: var(--color-primary);
}
.color--none {
  background: transparent;
}

/* ================================================== */
/*                     MIXINS                         */
/* ================================================== */

/* Uses vh and vm with calc */
/* @media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
} */
/* Safari <8 and IE <11 */
@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

@media screen and (min-width: 50em){
html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background-color: var(--color-secondary);
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* H1- Frastha Regular 90pt */
h1 {
  font-family: "frasha-regular";
  font-size: 2.3em;
}

/* H2- Frastha Regular 60pt */
h2 {
  font-family: "frasha-regular";
  font-size: 1.8em;
}

/* H3- LeagueSpartan Regular 20pt */
h3 {
  font-family: "leaguespartan";
  font-size: .8em;
  font-weight: bold;
}

/* H4- LeagueSpartan Light 14pt */
h4 {
  font-family: "leaguespartan";
  font-size: .85em;
  font-weight: lighter;
}

/* p- LeagueSpartan Regular 16pt - interlignagne 20 */
p {
  font-family: "leaguespartan";
  font-size: .6em;
  line-height: 20pt;
  font-weight: bold;
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}


/* GENERAL */
.no {
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.page {
  position: relative;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page-full {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page-experience {
  padding-left: 100px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

section.page, section.page-full {
  height: 100vh !important;
  width: 100vw !important;
}

header ~ section.page, header ~ section.page-full{
  padding-left: 150px;
  padding-top: calc(3% + 26px + 26px);
}

/* .d-none {
  display: none !important;
} */

.btn {
  width: fit-content;
  padding: 15px 30px;
}
.btn--primary {
  font-family: "frasha-regular";
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.btn span {
  font-size: .8em;
}
.btn--secondary {
  width: 250px;
  height: 250px;
  position: relative;
}
.btn--secondary img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn--secondary-container {
  height: 200px;
  width: 200px;
  /* background-color: currentColor; */
  border-radius: 100px;
  border: 1px solid currentColor;
}
.btn--tertiary{
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 100px;
  position: relative;
  margin: -100px 50px 50px auto;
}
.btn--tertiary span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "frasha-regular";
  color: var(--color-primary);
  text-align: center;
  font-size: .8em;
}

.validate-button {
  position: fixed;
  top: 50%;
  left: 80%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
}